{% load static %}
<aside>
            <div class="slider">
                <h4>Top Utilisateurs</h4>
                <div class="carousel_btn">
                    <button id="toggle" class="questions">Questions</button>
                    <button id="toggler" class="answers">Réponses</button>
                </div>
                <div class="slide-track first">

                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/louis.png' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Louis Barillon</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>
                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/antho.png' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Anthony Chaussignand</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>
                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/baptiste.png' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Baptiste Gele</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>
                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/julie.png' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Julie Bonnefond</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>

                </div>
                <div class="slide-track second">

                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/spiderman.jpg' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Spider-Man</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>
                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/batman.jpg' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Batman</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>
                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/harley.jpg' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Harley Quinn</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>
                    <div class="slide">
                        <div class="container">
                            <div class="img-container">
                              <img src="{% static 'images/guillaume.png' %}" alt="">
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                              <div class="user-info">
                                <h2>Bruce Banner</h2>
                                <span>20-july</span>
                              </div>
                          </div>
                    </div>

                </div>
            </div>
            <div class="meme">
                <h4>Meme du jour</h4>
                <a href="{% static 'images/meme.jpg' %}"><img src="{% static 'images/meme.jpg' %}" alt="Photo de montagne" title="Cliquez pour agrandir" /></a>
            </div>
            <div class="poll">
                <h4>Sondage du jour</h4>
                <form method="post" action="traitement.php">
                    <p>
                        Veuillez indiquer votre tranche d'âge :<br />
                        <input class="input" type="radio" name="age" value="moins15" id="moins15" /> <label for="moins15">Moins de 15 ans</label><br />
                        <input type="radio" name="age" value="medium15-25" id="medium15-25" /> <label for="medium15-25">15-25 ans</label><br />
                        <input type="radio" name="age" value="medium25-40" id="medium25-40" /> <label for="medium25-40">25-40 ans</label><br />
                        <input type="radio" name="age" value="plus40" id="plus40" /> <label for="plus40">Encore plus vieux que ça ?!</label>
                    </p>
                    <button class="glow-on-hover" type="button">✔</button>
                 </form>
            </div>
          </aside>
